<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
        <div class="container">


        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form action="" id="login" method="POST" class="row g-3">
                        <h4>Welcome,</h4>
                        {{msg}}
                        <div class="col-12">
                            <label>Username</label>
                            <input type="text" name="user_name" class="form-control" >
                        </div>
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-success float-end" name="log" id="log">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{{url_for('static', filename= 'js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/bootstrap.min.js')}}"></script>
</html>